<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/credits.css">
  <title>Credits</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">BACK</a></li>
    </ul>
  </nav>
  <main class="card">
    <div class="hero">
      <img src="https://www.flaticon.com/svg/static/icons/svg/2909/2909653.svg" class="img" />
    </div>
    <h2 class="title">Credits</h2>
    <div class="acc-container">
      <button onclick="window.open('https://www.linkedin.com/in/elbeshlawy/')" type="button" class="acc-btn">Mohamed
        El-Beshlawy</button>
      <button onclick="window.open('https://www.linkedin.com/in/ahmed-k-hassanin-1a6b60165/')" type="button"
        class="acc-btn">Ahmed Khaled</button>
      <button onclick="window.open('https://www.linkedin.com/in/shehab-el-deen/')" type="button" class="acc-btn">Shehab
        El-Deen Alalkamy</button>
      <button onclick="window.open('https://www.linkedin.com/in/ahmed-zakaria-20184a146/')" type="button"
        class="acc-btn">Ahmed Zakaria</button>
    </div>
  </main>
  <audio src="../assets/sounds/Space.mp3" autoplay loop></audio>
</body>

</html>