<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/space.css">
    <link rel="stylesheet" href="../styles/game-title.css">
    <link rel="stylesheet" href="../styles/buttons.css">
    <link rel="stylesheet" href="../styles/cursor.css">
    <title>Game Mode</title>
</head>

<body>
    <section class="space">
        <!-- You can choose a rocket cursor or a colorful circle cursor, choose what you like the most -->
        <!-- <div class="cursor colorful"></div> -->
        <div class="cursor rocket">
            <img src="../assets/images/rocket.png">
        </div>
        <h2 class="title" data-value="3">Choose Your Mode</h2>
        <div class="constellation group1"></div>
        <div class="constellation group2"></div>
        <div class="constellation group3"></div>
        <div class="constellation group4"></div>
        <div class="constellation group5"></div>
        <div class="constellation group6"></div>
        <!-- <div class="constellation group7"></div> -->
        <!-- <div class="constellation group8"></div> -->
        <!-- <div class="planets" id="planet-green" relative="-2"><img src="../assets/images/planets/planet-green.png"></div>
        <div class="planets" id="planet-stone" relative="4"><img src="../assets/images/planets/planet-stone.png"></div>
        <div class="planets" id="planet-yellow" relative="-5"><img src="../assets/images/planets/planet-yellow.png"></div>
        <div class="planets" id="planet-purple" relative="6"><img src="../assets/images/planets/planet-purple.png"></div> -->
        <div class="container-btns">
            <a href="" class="btn" id="easyLevel">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Easy
            </a>
            <a href="" class="btn" id="intermediateLevel">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Intermediate
            </a>
            <a href="" class="btn" id="hardLevel">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Hard
            </a>
            <a href="" class="btn" id="arcadeLevel">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Arcade
            </a>
        </div>
    </section>
    <!-- P U T  Y O U R  D E S I R E D  S O U N D T R A C K  H E R E -->
    <audio src="../assets/sounds/Interstellar2-1.mp3" autoplay loop></audio>
    <script src="../js/cursorControl.js"></script>
    <!-- <script src="../js/parallax.js"></script> -->
    <script src="../js/spaceshipRedirection.js"></script>
</body>

</html>