<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="../styles/howToPlay.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="../index.html">Go to main page</a></li>
            </ul>
        </nav>
        <header>
            <div class="howto">
                <div class="content">
                    <div class="type">
                        <div class="img-part">
                            <img src="../assets/images/difficulty.png" alt="difficulty">
                        </div>
                        <div class="name-part">
                            <h2>Choose Difficulty</h2>
                        </div>
                    </div>
                    <div class="type">
                        <div class="img-part">
                            <img src="../assets/images/arrows.jpg" alt="arrows">
                        </div>
                        <div class="name-part">
                            <h2>Move with</h2>
                        </div>
                    </div>
                    <div class="type">
                        <div class="img-part">
                            <img src="../assets/images/spacebar.png" height="30px" alt="Fire">
                        </div>
                        <div class="name-part">
                            <h2>Fire With</h2>
                        </div>
                    </div>
                    <div class="type">
                        <div class="img-part">
                            <img src="../assets/images/rocket1.png" alt="rocket">
                        </div>
                        <div class="name-part">
                            <h2>Choose avatar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header>
            <div class="description">
                <div class="container">
                    <div class="story">
                        <div class="story-title">
                            <h2>Game Story</h2>
                        </div>
                        <div class="story-desc">
                            <p class="ml3">Galaxy Fighter is a game in which the player controls a rocket, which moves 
                                persistently to the right. The player is tasked with navigating the rocket 
                                through pairs of obstacles that have non-equally sized gaps placed at random 
                                heights. As the time passes, the level becomes more difficult and more obstacles 
                                are generated and needed to be avoided. Each successful pass through a pair of 
                                obstacles awards the player one life. Colliding with an obstacle or the ground 
                                takes one life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <audio src="../assets/sounds/Interstellar1-1.mp3" autoplay loop></audio>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        <script src="../js/howToPlay.js"></script>
    </body>
</html>

