.container-btns {
    position: absolute;
    top: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin: 16px 0;
    color: aquamarine;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s;
    letter-spacing: 5px;
    overflow: hidden;
}

.btn:nth-child(1) {
    filter: hue-rotate(200deg);
}

.btn:nth-child(2) {
    filter: hue-rotate(300deg);
}

.btn:nth-child(3) {
    filter: hue-rotate(500deg);
}

.btn:hover {
    background: aquamarine;
    color: #0c030c;
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 200px aqua;
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, aqua);
    animation: leftToRight 1s linear infinite;
}

.btn span:nth-child(2) {
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, aqua);
    animation: topToBottom 1s linear infinite;
    animation-delay: 0.25s;
}

.btn span:nth-child(3) {
    bottom: 0;
    right: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, aqua);
    animation: rightToLeft 1s linear infinite;
    animation-delay: 0.5s;
}

.btn span:nth-child(4) {
    left: 0;
    bottom: -100;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, aqua);
    animation: bottomToTop 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes leftToRight {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes topToBottom {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes rightToLeft {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes bottomToTop {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
