body{
    margin: auto;
    background-image: url("../assets/images/halo.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

.canvas-area{
    margin-top: 16px;
    text-align: center;
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 960px 540px;*/  /*Will be set using javaScript to take the canvas dimensions*/
}