@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-height: 120vh;
}

.space {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 120vh;
    overflow: hidden;
    background: radial-gradient(circle at bottom, rgb(9, 9, 68) 0, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.space .constellation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: twinkle 8s ease-in-out infinite,
               flow 16s linear infinite;
}

.space .constellation.group1 {
    animation-delay: 0s;
    background: url(../assets/images/constellations/constellation-group-1.png);
}

.space .constellation.group2 {
    animation-delay: -1s;
    background: url(../assets/images/constellations/constellation-group-2.png);
}

.space .constellation.group3 {
    animation-delay: -2s;
    background: url(../assets/images/constellations/constellation-group-3.png);
}

.space .constellation.group4 {
    animation-delay: -3s;
    background: url(../assets/images/constellations/constellation-group-4.png);
}

.space .constellation.group5 {
    animation-delay: -4s;
    background: url(../assets/images/constellations/constellation-group-5.png);
}

.space .constellation.group6 {
    animation-delay: -5s;
    background: url(../assets/images/constellations/constellation-group-6.png);
}

.space .constellation.group7 {
    animation-delay: -6s;
    background: url(../assets/images/constellations/constellation-group-7.png);
}

.space .constellation.group8 {
    animation-delay: -7s;
    background: url(../assets/images/constellations/constellation-group-8.png);
}

.planets {
    position: absolute;
    width: 300px;
    height: 300px;
}

.planet img {
    max-width: fit-content;
    max-height: fit-content;
}

#planet-green {
    right: -100px;
    bottom: -120px;
}

#planet-stone {
    right: 72%;
    bottom: 77%;
}

#planet-yellow {
    left: -1%;
    bottom: 66%;
}

#planet-purple {
    left: -8%;
    bottom: 77%;
}

@keyframes twinkle {

    0%, 20%, 40%, 60%, 80%, 100% {
        opacity: 0;
    }

    10%, 30%, 50%, 70%, 90% {
        opacity: 1;
    }
}

@keyframes flow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}